.app {
  height: 100vh;
  display: flex;
  &-menu {
    height: 100%;
    width: 240px;
    border-right: 1px solid #ccc;
    p {
      text-align: center;
      margin: 0;
      padding: 12px;
    }
  }
  &-content {
    height: 100%;
    flex: 1;
  }
}